<div class="row">
  
  <section class="col-sm-9 col-xs-12">
    <a id="main-content"></a>
    <h1 class="page-header">Help Room Schedule</h1>
    <div class="region region-content">
      <section id="block-system-main" class="block block-system clearfix">
        
        <div about="/help-room-schedule" typeof="foaf:Document" class="ds-1col node node-page view-mode-full clearfix">
          
          <p><span style="font-size: 12pt"><strong>The CS Help Room is located in 314 Russ Engineering Center.</strong></span></p>
          <p>The Computer Science Helproom staff is available to answers questions related to programming and laboratory assignments for courses that use languages such as C, Java and C++. The Helproom also provides assistance to students taking discrete mathematics. The Computer Science Helproom staff will attempt to help any student currently enrolled in CS 1160, 1161, 1180, 1181, and CEG 2170. </p>
          <p>The purpose of the Help Room is to provide quick, convenient access to knowledgeable individuals who can address simple questions related to development environments, programming language syntax and logic errors. The Help Room staff will attempt to help students understand specific requirements of programming assignments. The Help Room staff is <em>NOT</em> supposed to help students design solutions to assignments. Questions regarding program design should be directed to the course TA or instructor.</p>
          <p><iframe src="https://www.google.com/calendar/embed?showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=1fv6r9hrratvqkaq0d2i73h7a4%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=America%2FNew_York" style=" border-width:0 " width="990" height="600" frameborder="0" scrolling="no"></iframe></p>
          <h3>Helproom Staff</h3>
          <dl class="helproom-staff"><dt>Scott, Katrina Michelle  *</dt>
          <dd><a href="mailto:scott.268@wright.edu">scott.268@wright.edu</a></dd>
          <dt>Abdellatif, Mahmoud</dt>
          <dd><a href="mailto:abdellatif.4@wright.edu">bdellatif.4@wright.edu</a></dd>
          <dt>Alamri, Ziyad</dt>
          <dd><a href="mailto:alamri.17@wright.edu">alamri.17@wright.edu</a></dd>
          <dt>Bajaj, Goonmeet</dt>
          <dd><a href="mailto:bajaj.3@wright.edu">bajaj.3@wright.edu </a></dd>
          <dt>Buthker, Gregory</dt>
          <dd><a href="mailto:buthker.2@wright.edu">buthker.2@wright.edu </a></dd>
          <dt>Digiorgio, Joseph</dt>
          <dd> <a href="mailto:digiorgio.4@wright.edu">digiorgio.4@wright.edu </a></dd>
          <dt>Drow, Anthony</dt>
          <dd><a href="mailto:drow.4@wright.edu">drow.4@wright.edu </a></dd>
          <dt>Duberstein, Scott</dt>
          <dd><a href="mailto:scottjduberstein@gmail.com">scottjduberstein@gmail.com </a></dd>
          <dt>Dugas, Blake</dt>
          <dd><a href="mailto:dugas.4@wright.edu">dugas.4@wright.edu </a></dd>
          <dt>Duncan, Hallie</dt>
          <dd><a href="mailto:duncan.98@wright.edu">duncan.98@wright.edu </a></dd>
          <dt>Flaute, Matthew</dt>
          <dd><a href="mailto:Flaute.5@wright.edu">Flaute.5@wright.edu </a></dd>
          <dt>Glines, Madison</dt>
          <dd><a href="mailto:glines.3@wright.edu">glines.3@wright.edu </a></dd>
          <dt>Haman , Sarah</dt>
          <dd><a href="mailto:Haman.4@wright.edu">Haman.4@wright.edu </a></dd>
          <dt>Harris, Matthew</dt>
          <dd><a href="mailto:harris.449@wright.edu">harris.449@wright.edu </a></dd>
          <dt>Kultinov, Kirill</dt>
          <dd><a href="mailto:kultinov.2@wright.edu">kultinov.2@wright.edu </a></dd>
          <dt>Mcgillvary, Alex</dt>
          <dd><a href="mailto:mcgillvary.5@wright.edu">mcgillvary.5@wright.edu </a></dd>
          <dt>Mutharaju, Vijaya</dt>
          <dd><a href="mailto:mutharaju.2@wright.edu">mutharaju.2@wright.edu </a></dd>
          <dt>Myers, Maxx</dt>
          <dd><a href="mailto:myers.237@wright.edu">myers.237@wright.edu </a></dd>
          <dt>Norris, Megan</dt>
          <dd><a href="mailto:norris.67@wright.edu">norris.67@wright.edu </a></dd>
          <dt>Novak, Emily</dt>
          <dd><a href="mailto:novak.17@wright.edu"> novak.17@wright.edu </a></dd>
          <dt>Parks, Chase</dt>
          <dd><a href="mailto:parks.78@wright.edu">parks.78@wright.edu </a></dd>
          <dt>Partin, Michael</dt>
          <dd><a href="mailto:partin.18@wright.edu">partin.18@wright.edu </a></dd>
          <dt>Rickert, Logan</dt>
          <dd><a href="mailto:rickert.14@wright.edu">rickert.14@wright.edu </a></dd>
          <dt>Russell, Dalton</dt>
          <dd><a href="mailto:dalton.russell1000@gmail.com">dalton.russell1000@gmail.com </a></dd>
          <dt>Shimizu, Cogan</dt>
          <dd><a href="mailto:shimizu.5@wright.edu">shimizu.5@wright.edu </a></dd>
          <dt>Spehar, Michael</dt>
          <dd><a href="mailto:spehar.2@wright.edu">spehar.2@wright.edu </a></dd>
          </dl><p><b>NOTE</b>: All workers can help with Java and a (#) annotates specific help for CS1150,CS1160, CS1161, &amp; CS1180 classes.  Additionally help in C (+), C++(++) or both (*) is available from the annotated workers</p>
        </div>
      </div>
    </div>
  </div>
</div>